<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Biometrico</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/WebService.js"></script>
</head>
<body>
    <div>
        <form action="https://mx3.quickpassweb.com/QPWsMovimientos/ServiceMovimientos.asmx/wsInsertarNuevoUsuariov2" method="post">
            <input id="idEmpresa" value="" name="idEmpresa" type="text" />
            <input id="password" value="" name="password" type="text" />
            <input id="idSector" value="" name="idSector" type="text" />
            <input id="Nombre" value="" name="Nombre" type="text" />
            <input id="Apellido" value="" name="Apellido" type="text" />
            <input id="Documento"value="" name="Documento" type="text" />
            <input id="Legajo" value="" name="Legajo" type="text" />
            <input id="Email" value="" name="Email" type="text" />
            <input id="Telefono"value="" name="Telefono" type="text" />
            <input id="Direccion" value="" name="Direccion" type="text" />
            <input id="FotoUsuario"  value="" name="FotoUsuario" type="text" />
            <input id="Obsevaciones" value="" name="Obsevaciones" type="text" />
            <input id="Habilitado" value="" name="Habilitado" type="text" />
        </form>
    </div>
</body>
</html>
